<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5560710873-d0em8dvdgc6cbp5f2224fj30ig5aj562.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5560710873-d0em8dvdgc6cbp5f2224fj30ig5aj562</string>
	<key>API_KEY</key>
	<string>AIzaSyBhU0dEayHSXDpEyr2YFWtC0qL91nDLhUU</string>
	<key>GCM_SENDER_ID</key>
	<string>5560710873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iyamashita.flutterSampleApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-iy</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-iy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5560710873:ios:f408ce53bfadee01e530c8</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sample-iy.firebaseio.com</string>
</dict>
</plist>